PUBLIC_BACKEND_BASE_URL=http://localhost:3000
PUBLIC_PLATFORM_FUNDING_WALLET=
PUBLIC_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
PUBLIC_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
PUBLIC_ENABLE_DEV_AUTH=true
