DATABASE_URL=postgresql://postgres:postgres@localhost:5432/stellar_1
AUTH_HOME_DOMAIN=localhost
AUTH_CHALLENGE_SECRET_KEY=
AUTH_JWT_SECRET=
STELLAR_PAYOUT_CONTRACT_ID=CAEHJH6O6IZWUK25KUM522T4KDBPZBZC4PV4ZQGMSDIO5PEY6HGF66UL
STELLAR_NATIVE_ASSET_CONTRACT_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
STELLAR_PAYOUT_CONTRACT_ID=CAEHJH6O6IZWUK25KUM522T4KDBPZBZC4PV4ZQGMSDIO5PEY6HGF66UL
STELLAR_NATIVE_ASSET_CONTRACT_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
