DATABASE_URL=
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_NAME=stellar_1
DATABASE_PASSWORD=
DATABASE_SSL=disable
DATABASE_USE_POOLER=false
DATABASE_ENABLE_PREPARED_STATEMENTS=true
AUTH_HOME_DOMAIN=localhost
AUTH_CHALLENGE_SECRET_KEY=
AUTH_JWT_SECRET=
STELLAR_RPC_URL=https://soroban-testnet.stellar.org:443
STELLAR_PAYOUT_ADMIN_SECRET_KEY=
STELLAR_PAYOUT_ADMIN_PUBLIC_KEY=GBAJUQW22O2JMSI3TMU6UCQJLVZGKHUSRJA4VUSRALTF6YLALVSVZERB
STELLAR_PAYOUT_CONTRACT_ID=CAEHJH6O6IZWUK25KUM522T4KDBPZBZC4PV4ZQGMSDIO5PEY6HGF66UL
STELLAR_NATIVE_ASSET_CONTRACT_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
STELLAR_TRANSACTION_TIMEOUT_SECONDS=30
STELLAR_TRANSACTION_POLL_INTERVAL_MS=1000
STELLAR_TRANSACTION_POLL_TIMEOUT_MS=45000
SCHEDULER_AUTO_PAYOUT_ENABLED=false
SCHEDULER_AUTO_PAYOUT_INTERVAL_MS=30000
